
<div class="about-section" id="aboutId">
  <div class="container">
      <div class="row">
          <div class="col">
              <img src="assets/images/headmaster.jpg" alt="head master" class="header-master" />
          </div>
          <div class="col">
              <div class="headmaster-speach">
                  <div class="quote-container left-quote">
                      <img src="assets/images/quote.png" alt="quote" class="quote " />
                  </div>
                  <div class="speach-container">
                      <p class="speach-content">
                          "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                          ut aliquip ex ea commodo consequat."
                      </p>
                  </div>
                  <div class="quote-container right-quote">
                      <img src="assets/images/quote.png" alt="quote" class="quote " />
                  </div>
                  <div class="footer">
                      <p class="name">Your Head Master Name</p>
                      <p class="role">Head Master</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
