<div class="banner-section" id="bannerId">
  <swiper-container class="banner-swiper" autoplay-delay="2500" autoplay-disable-on-interaction="false" effect="fade">
    <swiper-slide>
      <img src="assets/images/bg-1.jpg" alt="banner image" class="banner-image">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/images/bg-2.jpg" alt="banner image" class="banner-image">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/images/bg-3.jpg" alt="banner image" class="banner-image">
    </swiper-slide>

  </swiper-container>
  <div class="banner-overlay">
    <div class="banner-layer"></div>
    <div class="banner-description">
      <h1>Your School Name</h1>
      <h2>NOBLE IN MORALITY, EXCELLENT IN ACHIEVEMENTS</h2>
      <button mat-flat-button class="btn-pendaftaran">Registration PDB 2023/2024</button>
    </div>
  </div>
</div>
